/* 
	Jenney Grover
	VFW 1306
	Project 2, 3, and 4
	June 13, 2013
	June 20, 2013
	June 27, 2013
*/

body{font-family:Bookman, Courier, Verdana; width: 480px; margin: auto; padding: 10px; color: #47006B; background: #C1C1C1; font-size: 1.3pc;}
#content{width: 480px; height: 690px; overflow: scroll;}
/*FEFFD9 -- background*/
/* does having this width and height change the html dimensions listed previously? */


h1 {
	margin: 10px 15px; 
	text-align: center; 
	color: #47006B;
}

h2 {
	margin: 12px 15px; 
	text-align: center; 
	color: #47006B; 
}

span {
	font-variant: small-caps; 
	font-size: 18px; 
	color: #990071;
}

p {
	color: #47006B; 
	margin: 10px;
	text-align: left;
	font-variant: small-caps; 
	line-height: 1.3em; 
	text-indent: 10px; 
}

a {
	color: #990071;
	margin: 8px; 
	font-size: 16px; 
}

legend {
	color: #2D006B; 
	font-weight: bold; 
}

form {
	padding: 10px;
	border-style: double; 
	border-color: #2D006B;
	border: 3px solid; 
	border-radius: 25px; 
	background: #FEFFD9; 
	/*EEE5FF -- form color*/
}

div {
	box-shadow: 10px 10px 5px #888888;
}

li {
	margin: 8px; 
	font-family: Verdana;
	font-size: 0.9pc 
}

select {
	margin: -40px; 
}

ul li {
	list-style: none; 
}

#book {
	display: block; 
}

#errors {
	color: red; 
}

#submitButton {
 	background-color: #400099;
 	font-size: 0.9pc;
 	color: #FEFFBF; 
 	width: 120px;
 	height: 40px;
 	margin-top: 5px;
 	margin-left: 20px; 
 	padding: 0;
 	border: 1px solid #400099;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	/*-moz-border-radius: 6px*/
	display: inline;
}


#showSatchel {
 	background-color: #36991D;
 	font-size: 0.9pc;
 	color: #FEFFBF; 
 	width: 120px;
 	height: 40px;
 	margin-top: 5px;
 	margin-left: 20px; 
 	padding: 0;
 	border: 1px solid #400099;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	/*-moz-border-radius: 6px*/
	display: inline;
}


#emptySatchel {
 	background-color: #D12136;
 	font-size: 0.9pc;
 	color: #FEFFBF; 
 	width: 120px;
 	height: 40px;
 	margin-top: 5px;
 	margin-left: 20px; 
 	padding: 0;
 	border: 1px solid #400099;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	/*-moz-border-radius: 6px*/
	display: inline; 
}

#goHome {
 	background-color: #36991D;
 	font-size: 0.9pc;
 	color: #FEFFBF; 
 	width: 120px;
 	height: 40px;
 	margin-top: 5px;
 	margin-left: 20px; 
 	padding: 0;
 	border: 1px solid #400099;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	/*-moz-border-radius: 6px*/
	display: none;
}

footer {
	margin-top: 5px; 
	font-size: 12px;
}

.even{background: #fff;}
.hasFocus{border: 2px solid #8C03FC;}
